<mat-card>
  <mat-card-header>
    <mat-card-title>Add a landmark</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Landmark title</mat-label>
      <input matInput [(ngModel)]="newLandmarkTitle" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Landmark description</mat-label>
      <textarea matInput [(ngModel)]="newLandmarkDescription"></textarea>
    </mat-form-field>
    <div class="dual_field_wrapper">
      <mat-form-field class="card_coords">
        <mat-label>Landmark coordinates</mat-label>
        <input matInput [(ngModel)]="newLandmarkCoords" />
      </mat-form-field>
      <mat-form-field class="card_url">
        <mat-label>Landmark URL</mat-label>
        <input matInput [(ngModel)]="newLandmarkUrl" />
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onAddLandmark()">Submit</button>
  </mat-card-actions>
</mat-card>

<!-- <br>
<hr />

<p>{{ landmarkTitle }}</p>
<p>{{ landmarkDescription }}</p>
<p>{{ landmarkCoords }}</p>
<p>{{ landmarkUrl }}</p> -->
