<div class="expanded_body">
  <div *ngIf="landmark">
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>{{ landmark.title }} </mat-card-title>
        <a [routerLink]="['/edit', landmark.objectId]">
          <button
            *ngIf="userStatus == true"
            mat-raised-button
            color="accent"
            class="edit_button"
          >
            Edit
          </button>
        </a>
      </mat-card-header>
      <div class="landmark-content-container">
        <mat-card-content class="landmark-card-pic-container">
          <div
            *ngIf="landmark.photoThumb == undefined"
            class="landmark-card-pic"
          >
            <img
              class="landmark-card-pic"
              src="../../../assets/files/placeholder_medium.png"
              alt="Photo of landmark"
            />
          </div>
          <div
            *ngIf="landmark.photoThumb !== undefined"
            class="landmark-card-pic"
          >
            <a
              *ngIf="landmark.photo !== undefined"
              href="{{ landmark.photo.url }}"
              target="_blank"
            >
              <img
                mat-card-image
                src="{{ landmark.photoThumb.url }}"
                alt="Photo of landmark"
                class="landmark-card-pic"
              />
            </a>
            <a *ngIf="landmark.photo == undefined">
              <img
                mat-card-image
                class="landmark-card-pic"
                src="{{ landmark.photoThumb.url }}"
                alt="Photo of landmark"
              />
            </a>
          </div>
        </mat-card-content>
        <mat-card-content class="landmark-card-desc">
          <a>{{ landmark.description }}</a>
        </mat-card-content>
      </div>
      <div *ngIf="landmark.url">
        <mat-card-content class="landmark-card-action">
          <a class="card_link" href="{{ landmark.url }}" target="_blank"
            >Visit
            <span style="font-weight: bold">{{ landmark.title }}'s</span>
            Official Website</a
          >
        </mat-card-content>
      </div>
      <div class="landmark-content-container">
        <mat-card-content>
          <div id="map" leaflet [leafletOptions]="mapOptions"></div>
        </mat-card-content>
      </div>
    </mat-card>
    <br />
    <br />
  </div>
</div>
