.expanded_body {
  margin-top: -4rem;
}

mat-card {
  width: 75vw;
  margin: auto;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landmark-card-desc {
  display: flex;
  /* border: 2px solid yellow; */
  /* width: 50%; */
  text-align: justify;
}

.landmark-card-pic {
  /* display: flex;
  margin-right: 0.5rem; */
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
  align-items: center;
}

/* .landmark-content-container:first-child {
  margin-right: 20px;
} */

.landmark-card-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content a {
  color: black;
}

.card_link:hover {
  color: #ff4081 !important;
}

.landmark-card-pic {
  display:flex;
  margin: 1vh auto 3vh auto;
}

mat-card-title {
margin-top: 12px;
}

.edit_button {
  position: absolute;
  right: 1%;
  top: 1%;
}

#map {
  height: 600px;
}



