<div *ngIf="landmarks.length > 0">
  <div *ngFor="let landmark of landmarks">
    <mat-card class="mat-elevation-z5">
      <mat-card-header>
        <mat-card-title>
          <a [routerLink]="['/landmark', landmark.objectId]">
            {{ landmark.title }}
          </a>
        </mat-card-title>
      </mat-card-header>

      <div class="landmark-content-container">
        <mat-card-content class="landmark-card-pic">
          <img
            *ngIf="!landmark.photo_thumb"
            class="landmark-card-pic"
            src="../../../assets/files/placeholder_thumb.png"
            alt="Photo of landmark"
          />
        </mat-card-content>
        <mat-card-content class="landmark-card-short-desc">
          <a>{{ landmark.shortInfo }}</a>
        </mat-card-content>
      </div>
      <mat-card-content class="landmark-card-action">
        <a [routerLink]="['/landmark', landmark.objectId]">
          <button mat-raised-button color="accent">Read more</button>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <p *ngIf="landmarks.length <= 0">Landscapes not populated!</p> -->
